
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var(--body-background-color);
    color: var(--primary-text-color);
		height: 100vh;
}
p{
	font-size: 2rem;
}
.wrapper{
	max-width: 100rem;
	margin: auto;
}
.filter{
	background-blend-mode: soft-light;
}
.quiz-area {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.text-container {
	font-family: 'Courier New', Courier, monospace;
	font-size: 36px;
}
form select,
form input
{
	width: 12rem;
	height: 3rem;
	font-size: 2rem;
	margin-right: 4rem;
	/* background-color: transparent; */	
}
form {
	display: flex;
	margin: auto;
	width: fit-content;
	align-items: baseline;
	margin-top: 5rem;
}
form section{
	display: flex;
	flex-direction: column;
}
.preQuiz-header{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.quiz_start{
	margin-top: 5rem;
	background-color: blue;
	color: white;
}
.quiz-answers{
	height: 40vh;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 5rem;
}
.answer_card{
	width: 40%;
	list-style: none;
	text-align: center;
	font-size: 3rem;
	border: 5px solid red;
	border-radius: 80px;
	margin-bottom: 4rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nextQuestion,
.quiz_start{
width: 12rem;
display: table-cell;
align-self: center;
font-size: 2rem;
}
#quiz-questions,
#quiz-questions li{
	margin: auto;
}

.button-center{
	display: flex;
	justify-content: center;
}